<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>projectfuck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24CE88D41EC2A65F005ABC96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24CE88E81EC2A65F005ABC96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24CE88F31EC2A65F005ABC96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
